In [39]:
import pandas as pd
import numpy as np
import s3fs as s3
import fastparquet as par
import pyarrow as py

Thiết lập cấu hình

In [40]:
fs = s3.S3FileSystem(
  key='your_aws_access_key_id',
  secret='your_aws_secret_access_key'
)

In [56]:
df = pd.read_parquet("YEAR_AND_MONTH=202009.parquet")

In [42]:
import zipfile
import pyarrow.parquet as pq

zip_file_path = 'RUNEUSDT.zip'

# Giải nén tệp tin ZIP
with zipfile.ZipFile('RUNEUSDT.zip', 'r') as zip_ref:
    # Lặp qua các tệp tin trong thư mục ZIP
    for file_name in zip_ref.namelist():
        # Kiểm tra nếu là file Parquet
        if file_name.endswith('.parquet'):
            # Đọc tệp tin Parquet
            parquet_file = zip_ref.extract(file_name)  # Giải nén tệp tin Parquet
            table = pq.read_table(parquet_file)

In [71]:
df = table.to_pandas()
df

,OPEN,HIGH,LOW,CLOSE,VOLUME,QUOTE_ASSET_VOLUME,NUMBER_OF_TRADES,TAKER_BUY_BASE_ASSET_VOLUME,TAKER_BUY_QUOTE_ASSET_VOLUME,YEAR_AND_MONTH
OPEN_TIME,,,,,,,,,,
1638316800000,11.298,11.316,11.186,11.225,14460.8,162536.2814,436,7151.2,80423.2490,202112
1638317100000,11.231,11.331,11.213,11.313,11950.3,134905.9006,358,7043.1,79445.3392,202112
1638317400000,11.307,11.388,11.300,11.301,7118.7,80885.9285,360,2949.8,33511.4956,202112
1638317700000,11.311,11.365,11.310,11.348,4953.7,56148.4098,145,2117.6,23996.1665,202112
1638318000000,11.334,11.368,11.312,11.364,3131.3,35513.5653,121,2069.6,23479.5625,202112
...,...,...,...,...,...,...,...,...,...,...
1640993700000,6.851,6.854,6.840,6.846,4801.0,32855.4362,51,3340.6,22855.4508,202112
1640994000000,6.850,6.856,6.835,6.852,1233.8,8449.7029,37,275.9,1888.9099,202112
1640994300000,6.848,6.853,6.836,6.836,1028.2,7038.1314,27,686.7,4700.3842,202112
1640994600000,6.836,6.836,6.795,6.801,5885.0,40107.5061,146,2011.4,13704.6770,202112
1640994900000,6.797,6.811,6.779,6.795,3147.2,21370.9006,93,1502.6,10209.6749,202112

In [52]:
df.reset_index(inplace = True)

Tiền ảo RUNE/USDT

In [51]:
df['OPEN_TIME'] = pd.to_datetime(df['OPEN_TIME'], unit='h')
df

,OPEN_TIME,OPEN,HIGH,LOW,CLOSE,VOLUME,QUOTE_ASSET_VOLUME,NUMBER_OF_TRADES,TAKER_BUY_BASE_ASSET_VOLUME,TAKER_BUY_QUOTE_ASSET_VOLUME,YEAR_AND_MONTH
0,2021-12-01 00:00:00,11.298,11.316,11.186,11.225,14460.8,162536.2814,436,7151.2,80423.2490,202112
1,2021-12-01 00:05:00,11.231,11.331,11.213,11.313,11950.3,134905.9006,358,7043.1,79445.3392,202112
2,2021-12-01 00:10:00,11.307,11.388,11.300,11.301,7118.7,80885.9285,360,2949.8,33511.4956,202112
3,2021-12-01 00:15:00,11.311,11.365,11.310,11.348,4953.7,56148.4098,145,2117.6,23996.1665,202112
4,2021-12-01 00:20:00,11.334,11.368,11.312,11.364,3131.3,35513.5653,121,2069.6,23479.5625,202112
...,...,...,...,...,...,...,...,...,...,...,...
8923,2021-12-31 23:35:00,6.851,6.854,6.840,6.846,4801.0,32855.4362,51,3340.6,22855.4508,202112
8924,2021-12-31 23:40:00,6.850,6.856,6.835,6.852,1233.8,8449.7029,37,275.9,1888.9099,202112
8925,2021-12-31 23:45:00,6.848,6.853,6.836,6.836,1028.2,7038.1314,27,686.7,4700.3842,202112
8926,2021-12-31 23:50:00,6.836,6.836,6.795,6.801,5885.0,40107.5061,146,2011.4,13704.6770,202112
8927,2021-12-31 23:55:00,6.797,6.811,6.779,6.795,3147.2,21370.9006,93,1502.6,10209.6749,202112

In [55]:

zip_file_path1 = 'C_USDJPY.zip'

# Giải nén tệp tin ZIP
with zipfile.ZipFile('C_USDJPY.zip', 'r') as zip_ref:
    # Lặp qua các tệp tin trong thư mục ZIP
    for file1_name in zip_ref.namelist():
        # Kiểm tra nếu là file Parquet
        if file1_name.endswith('.parquet'):
            # Đọc tệp tin Parquet
            parquet_file1 = zip_ref.extract(file1_name)  # Giải nén tệp tin Parquet
            table1 = pq.read_table(parquet_file1)

In [73]:
df1 = table1.to_pandas()

Crypto USDJPY//
USDJPY là cặp tiền tệ biểu diễn cho tỷ giá giữa đồng USD của Hoa Kỳ và đồng JPY của Nhật Bản. Đây là một trong những cặp tiền tệ được giao dịch nhiều nhất trên thị trường ngoại hối. Ví dụ: Tỷ giá giữa USD/JPY là 104, có nghĩa là 1 đồng đô la Mỹ sẽ đổi được 104 đồng Yên Nhật.

Link bài viết gốc: USDJPY là gì? Chiến lược giao dịch USDJPY | CryptoViet.com (https://cryptoviet.com/usdjpy-la-gi/)

In [76]:
df1.reset_index(inplace= True)
df1['OPEN_TIME'] = pd.to_datetime(df1['OPEN_TIME'], unit = 'ms')
df1
#df['OPEN_TIME'] = pd.to_datetime(df['OPEN_TIME'], unit='h')

,index,OPEN_TIME,OPEN,HIGH,LOW,CLOSE,VOLUME,NO_OF_TRANSACTIONS,YEAR_AND_MONTH
0,0,2021-12-01 00:00:00,113.302,113.322,113.186,113.240,849,849,202112
1,1,2021-12-01 00:05:00,113.239,113.294,113.210,113.212,625,625,202112
2,2,2021-12-01 00:10:00,113.212,113.251,113.180,113.189,516,516,202112
3,3,2021-12-01 00:15:00,113.187,113.197,113.100,113.123,631,631,202112
4,4,2021-12-01 00:20:00,113.121,113.197,113.100,113.197,664,664,202112
...,...,...,...,...,...,...,...,...,...
6257,6257,2021-12-31 21:40:00,115.072,115.088,115.061,115.074,118,118,202112
6258,6258,2021-12-31 21:45:00,115.089,115.098,115.066,115.084,175,175,202112
6259,6259,2021-12-31 21:50:00,115.071,115.100,115.060,115.099,122,122,202112
6260,6260,2021-12-31 21:55:00,115.100,115.120,115.079,115.097,135,135,202112
6261,6261,2021-12-31 22:00:00,115.103,115.103,115.103,115.103,1,1,202112